<span class="post-meta">

  <i class="fa fa-calendar" aria-hidden="true" title="Date published"></i>{{ page.date | date_to_string }}
  
  <!--Post categories-->
  {% if page.categories %} | 
    {% for cat in page.categories %}
      <a href="{{ site.category_page | prepend: site.baseurl }}#{{ cat | slugify }}" class="post-cat"><i class="fa fa-folder" title="Post categories"></i>{{ cat }}</a>
    {% endfor %}
  {% endif %}
 	 
 <!--Post tags-->
 {% if page.tags %} | 
    {% for tag in page.tags %}
       <a href="{{ site.tag_page | prepend: site.baseurl }}#{{ tag | slugify }}" class="post-tag"><i class="fa fa-tags" title="Post tags"></i>{{ tag }}</a>
    {% endfor %}
 {% endif %}
 </span>
