<div class="social-icons">
  <h3>Share this on </h3>
  <!--twitter-->
  <a href="https://twitter.com/share?text={{ page.title }}&amp;url={{ site.url }}{{ page.url }}&amp;via={{ site.author.twitter }}"  class="social-icons" target="_blank" title="Share on twitter"> <i class="fa fa-twitter meta"></i>Twritter</a>
  <!--Linkedin-->
  <a href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{ site.url }}{{ page.url }}&amp;title={{ page.title }}&amp;summary={{ page.subtitle }}"  class="social-icons" target="_blank" title="Share on LinkedIn"> <i class="fa fa-linkedin"></i>LinkedIn</a>
  <!--Google plus-->
  <a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}"  class="social-icons" target="_blank" title="Share on Google+"> <i class="fa fa-google-plus"></i>Google+</a>
  <!--Print-->
  <a href="javascript:window.print()" class="social-icons" title="Printer friendly format"><i class="fa fa-print"></i>Print</a>
    
</div>
